name: Build Plugin .TapPackage

on: [push, pull_request]

jobs:
  build-ubuntu:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-20.04]
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Setup .NET
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x
      - name: Checkout OpenTAP branch
        uses: actions/checkout@v3
        with:
          repository: 'alan-copeland-keysight/opentap'
          ref: 'feature/make-visa-pluggable'
          path: 'tap'
          fetch-depth: 0
      - name: Build OpenTAP branch
        run: |
             pushd tap
             dotnet build -c debug
             popd
      - name: Install Python plugin
        run: |
             pushd tap/bin/Debug
             ./tap package install Python --version -rc
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: tap/bin/Debug/Packages/PythonVisa
      - name: Package plugin
        run: |
             pushd tap/bin/Debug
             ./tap package create Packages/PythonVisa/package.xml
             popd   
             ls -la 
      - name: Upload binaries
        uses: actions/upload-artifact@v2
        with:
          name: TapPackage
          retention-days: 14
          path: |
            tap/bin/Debug/PythonVisa*.TapPackage
